@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bold {
    font-weight: 700;
    color: #324a24;
  }

  .waves {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
  }

  .blob {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -10;
  }

  .button {
    background-color: #324a24;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.375rem;
  }

  .button:hover {
    background-color: #961e1d;
  }

  .label {
    background-color: #d3e6b3;
    color: #000;
    padding: 0.5rem;
    border-radius: 0.375rem;
    cursor: default;
  }
}

:root {
  background-color: #f6efdd;
  font-family: "Karla", sans-serif;
}
